.btn-main{
	background: var(--color-main);
}

.text-main{
	color: var(--color-main) !important;
}

li.active a{
	color: var(--color-main) !important;
}

.bg-main{
	background: var(--color-main) !important;
}

h2::after, li.active::after{
	background: var(--color-main) !important;
}

.hero__search__phone__text{
	margin-top: 10px;
}

.set-bg{
	border-radius: 5px;
}
.product__details__pic__item--large{
	border-radius: 5px;
}
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
  accent-color: var(--color-main);
}
